@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-GrandHeavy.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-GrandLight.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-Narrow.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-TextBold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-ThinItalic.otf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-Tight.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-WideBlackItalic.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-WideLight.otf');
    font-weight: 300;
    font-style: normal;
}