@import url(./cabinet-grotesk.css);

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-GrandHeavy.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-GrandLight.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-Narrow.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-TextBold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-ThinItalic.otf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-Tight.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-WideBlackItalic.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir/Agrandir-WideLight.otf');
    font-weight: 300;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background-image: url('../assets/background-img.png');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 603%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo{
    width: 300px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: descend 1.5s ease-out forwards;
}

@keyframes descend {
    0% {
        top: -50px; /* Posição inicial */
        opacity: 0;  /* Invisível */
    }
    100% {
        top: 60px; /* Posição final dentro do pai */
        opacity: 1; /* Visível */
    }
}
.copy-1{
    position: absolute;
    top: 190px;
    left: 5%;
    transform: translateX(-50%);
    opacity: 0;

    color: #fff;
    display: flex;
    font-size: 19px;
    /* max-width: 350px; */
    width: 345px;
    gap: 15px;
    margin-top: 50px;
    align-items: center;
    text-align: justify;

    animation: left 2s ease-out forwards;
    animation-delay: 1.5s;

    font-family: 'CabinetGrotesk-Thin';
    /* font-weight: 300; */
}



@keyframes left {
    0% {
        left: 5%;
        opacity: 0;
    }
    100% {
        left: 50%;
        opacity: 1;
    }
}

.copy-1 > img{
    width: 45px;
}

.copy-2{
    position: absolute;
    top: 300px;
    left: 5%;
    transform: translateX(-50%);
    opacity: 0;

    color: #fff;
    display: flex;
    font-size: 19px;
    /* max-width: 350px; */
    width: 345px;
    gap: 15px;
    margin-top: 50px;
    align-items: center;
    text-align: justify;

    animation: left 2s ease-out forwards;
    animation-delay: 1.5s;

    /* font-family: 'Agrandir'; */
    
}
.copy-2 > img{
    width: 45px;
}

.copy-3{
    position: absolute;
    top: 450px;
    left: 5%;
    transform: translateX(-50%);
    opacity: 0;

    color: #fff;
    display: flex;
    font-size: 19px;
    /* max-width: 350px; */
    width: 345px;
    gap: 15px;
    margin-top: 50px;
    align-items: center;
    text-align: justify;

    animation: left 2s ease-out forwards;
    animation-delay: 1.5s;

    font-family: sans-serif;
}



@media (min-width: 768px) and (max-width: 1023px) {
    

    .logo{
        width: 500px;
        top: -50px;
    }

    .copy-1{
        top: 230px;
        font-size: 25px;
        width: 450px;
        gap: 20px;
    }
  }
  
  /* Desktops */
  @media (min-width: 1024px) {
    .background{
        background-image: url('../assets/background-img.png');
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 602.9%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .logo{
        width: 600px;
        top: -50px;
    }

    .copy-1{
        top: 260px;
        font-size: 29px;
        width: 515px;
        gap: 20px;
    }
  }